@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$primary: hsl(172, 67%, 45%);
$neutral-900: hsl(183, 100%, 15%);
$neutral-700: hsl(186, 14%, 43%);
$neutral-400: hsl(184, 14%, 56%);
$neutral-300: hsl(185, 41%, 84%);
$neutral-200: hsl(189, 41%, 97%);
$neutral-100: hsl(0, 0%, 100%);

$font-size: 24px;
$font-family: "Space Mono", sans-serif;
$font-weight: 700;

@mixin breakpoint {
  @media only screen and (min-width: 800px) {
    @content;
  }
}

*:focus {
  outline: none;
}

body, input {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $neutral-700;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.main {
  background-color: $neutral-300;
  &__logo {
    margin: auto;
    padding: 3rem 0 2rem;
    display: block;
    @include breakpoint() {
      margin: 0 auto;
      padding: 0 0 4rem;
    }
  }
  &__title {
    display: none;
  }
  @include breakpoint() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}

.app {
  padding: 2rem;
  background-color: $neutral-100;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  @include breakpoint() {
    border-radius: 20px;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 2rem;
  }
}

.section {
  margin-bottom: 2rem; 
  padding: 0 .5rem;
  position: relative;
  @include breakpoint() {
    grid-column: 1/2;
    padding: .5rem 0 0;
    &--people {
      margin-bottom: 1rem;
    }
  }
  &--dollar::after, &--people::after {
    content: '';
    background: url("/images/icon-dollar.svg") no-repeat;
    display: block;
    width: 2rem;
    height: 1.5rem;
    position: absolute;
    bottom: .3rem;
    left: 1.5rem;
  }
  &--people::after {
    background-image: url("/images/icon-person.svg");
  }
  &--grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include breakpoint() {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    & .section__title {
      grid-column: 1/3;
      margin-bottom: 0;
      @include breakpoint() {
        grid-column: 1/4;
      }
    }
    & .section__input::placeholder {
      color: $neutral-700;
    }
  }
  &__title {
    font-size: .9rem;
    margin-bottom: .5rem;
  }
  &__input {
    border-radius: 5px;
    border: none;
    background-color: $neutral-200;
    color: $neutral-900;
    text-align: right;
    padding: .25rem 1rem;
    width: 100%;
    border: 2px $neutral-100 solid;

    &:hover, &:focus {
      border: 2px lighten($primary, 20%) solid;
      cursor: pointer;
    }

    &::placeholder {
      color: $neutral-400;
    }
    @include breakpoint() {
      font-size: 1.3rem;
    }
  }
}

.totals {
  background-color: $neutral-900;
  padding: 2rem 1rem 1rem;
  border-radius: 15px;
  @include breakpoint() {
    grid-row: 1/4;
    grid-column: 2/3;
    padding: 3rem 2rem 2rem;
    position: relative;
  }
}

.amount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 2rem;
  @include breakpoint() {
    margin-bottom: 2.5rem;
  }
  &__title {
    font-size: .9rem;
    color: $neutral-100;
  }
  &__subtitle {
    display: block;
    margin-top: .5rem;
    font-size: .7rem;
    color: $neutral-400;
  }
  &__total {
    text-align: right;
    font-size: 1.9rem;
    color: $primary;
    @include breakpoint() {
      font-size: 2.5rem;
    }
    &:before {
      content: '$';
    }
  }
}

.button {
  background-color: $neutral-900;
  color: $neutral-100;
  border-radius: 5px;
  padding: .5rem;
  text-align: center;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: lighten($primary, 20%);
    color: $neutral-900;
  }
  &--selected, &--selected:hover, &--reset {
    background-color: $primary;
    color: $neutral-900;
  }
  &--reset {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .75rem;
    @include breakpoint() {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      right: 2rem;
    }
  }
}

.error {
  color: lighten(red, 25%);
  text-align: right;
  font-size: .9rem;
  position: absolute;
  right: .5rem;
  top: 0;
  @include breakpoint() {
    top: .5rem;
    right: 0;
  }
  &--hidden {
    display: none;
  }
}

.input--error {
  border-color: lighten(red, 25%);
}